<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>About Me</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <section class="about-us">
      <div class="about">
        <img src="{{ url_for('static', filename='images/anshu.jpg') }}" class="pic" alt="image"/>
        <div class="text">
          <h2>About Me</h2>
          <h5>Python Developer & <span>Digital Creator</span></h5>
          <p>Anshu Prakash, a developer with 2+ years of experience, exhibits exceptional coding skills. With a strong background in software development and a passion for technology, he consistently delivers high-quality solutions. Anshu's adaptability and problem-solving prowess make him a valuable asset to any development team!</p>
          <div class="data">
            <a href="#" class="hire">Hire Me</a>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
